/* Sandstone
 * Bootswatch
 *= require_self
 *= require sandstone/loader
 *= require sandstone/bootswatch
 *= require sandstone/font-awesome
*/

.reviews-table{
  margin-top: 30px;
}

#user-name{
  color: white;
  font-size: 15px;
}

.user-profile{
  .row{
    padding-bottom: 10px;
    border-bottom: 2px solid #93c54b;
  }
  .badges{
    margin-top: 70px;
    li{
      margin-left: 10px;
    }
  }
  .settings{
    margin-top: 45px;
  }
  h3{
    margin-top: -3px;
  }
}
