/* Sandstone
 * Bootswatch
 *= require_self
 *= require sandstone/loader
 *= require sandstone/bootswatch
 *= require sandstone/font-awesome
*/

.reviews-table{
  margin-top: 30px;
}

#user-name{
  color: white;
  font-size: 15px;
}
